
{{define "corporation_authorization_page"}}

{{template "header" .}}

      <div class="row">
        <div class="col-12 center_text_in_div">
          <h1> Авторизация </h1>
        </div>


        <form action="/corporation_authorization_page" method="post">
          <div class="col-12">
            <input type ="text" name="email" id="email" placeholder="почта"
            class="form-control">
          </div>

          <div class="col-12">
            <input type ="text" name="password" id="password" placeholder="пароль"
            class="form-control">
          </div>



          <div class="col-12">
            <button class="btn btn-warning">Вход</button>
          </div>
        </form>

      </div>

{{template "footer"}}

{{end}}
