{{define "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Taro</title>
    <link rel="stylesheet" href="/static/css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <!-- Подключение jQuery (необходим для некоторых компонентов Bootstrap) -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <!-- Подключение Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


</head>
<body>






{{end}}
