
{{define "index"}}

{{template "header" .}}

    <div class="row">
      <div class="col-12">
        <h1> ГЛАВНАЯ3 </h1>
      </div>
      <div class="col-12 red_st" >
        <h1> <a  href="/employee_registration_page">employee_registration_page </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/employee_authorization_page">employee_authorization_page </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/asked_to_employee/1">asked_to_employee </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/asked_to_employee/0">Смотреть все корпорации </a> </h1>
      </div>

      <div class="col-12">
        <h1> <a  href="/corporation_registration_page">corporation_registration_page </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/corporation_authorization_page">corporation_authorization_page </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/search_employees_page/0">search_employees_page </a> </h1>
      </div>

      <div class="col-12">
        <h1> <a  href="/search_employees_page/1">корп рабы </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/search_employees_page/2">Заявки стать раами </a> </h1>
      </div>


      <div class="col-12">
        <h1> <a  href="/add_employee_to_your_company/2">add_employee_to_your_company </a> </h1>
      </div>
    </div>

{{template "footer"}}
{{end}}
