
{{define "index"}}

{{template "header" .}}

    <div class="row">
      <div class="col-12">
        <h1> ГЛАВНАЯ </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/employee_registration_page">employee_registration_page </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/employee_authorization_page">employee_authorization_page </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/corporation_registration_page">corporation_registration_page </a> </h1>
      </div>
      <div class="col-12">
        <h1> <a  href="/corporation_authorization_page">corporation_authorization_page </a> </h1>
      </div>
    </div>

{{template "footer"}}
{{end}}
