
{{define "search_employees_page"}}

{{template "header" .}}
  <div class="row">
    <div class="col-12">
      Поиск сотрудников
    </div>
      {{range .Employees}}

        <div class="col-12" style ="width:100px; height:100px; background-color:red; margin-bottom:30px;">
          {{if eq $.Style "2"}}
            <a href="/add_employee_to_your_company/{{.Id}}">
              {{.Firstname}}  {{.Id}} Rating {{.Suitable_rating}}
            </a>
          {{else}}
          <a href="/add_employee_to_your_company/{{.Id}}">
            {{.Firstname}}  {{.Id}} Rating {{.Suitable_rating}}
          </a>
          {{end}}
        </div>

      {{end}}

  </div>
{{template "footer"}}
{{end}}
